<div class="container">
  <h1>{{title}}</h1>
<div *ngIf="cpus">
  <div class="row">
    <table class="styled-table">
      <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Socket</th>
        <th>More(+)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of cpus" class="active-row" >
        <td>{{c.brand}}</td>
        <td>{{c.model}}</td>
        <td>{{c.socket.name}}</td>
        <td><button [routerLink]="['/cpu',c.id]">Edit</button> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
