<div class="container">
  <h1>CPU Details</h1>
  <div class="row">

    <table class="styled-table" *ngIf="cpu">
      <tbody>
      <tr>
        <th>Brand</th>
        <td>  <input [(ngModel)]="cpu.brand"/> </td>
      </tr>
      <tr>
        <th>Model</th>
        <td>  <input [(ngModel)]="cpu.model"/> </td>
      </tr>
      <tr>

        <th>Socket</th>
        <td>
          <select [(ngModel)]="cpu.socket.id">
            <option *ngFor="let socket of sockets" [ngValue]="socket.id">{{socket.name}}</option>
          </select>
        </td>
      </tr>
      <tr>

        <th>Clock speed</th>
        <td>  <input [(ngModel)]="cpu.clockspeed"/> </td>
      </tr>
      <tr>

        <th>Cores</th>
        <td>  <input [(ngModel)]="cpu.numberOfCores"/> </td>
      </tr>
      <tr>

        <th>Threads</th>
        <td>
          <input [(ngModel)]="cpu.numberOfThreads"/>
        </td>
      </tr>
      <tr>

        <th>TDP</th>
        <td>  <input [(ngModel)]="cpu.tdp"/> </td>
      </tr>
      <tr>

        <th>Price &#8364;</th>
        <td>  <input [(ngModel)]="cpu.price" /> </td>
      </tr>

      </tbody>
    </table>

  </div>
  <div class="row">
    <button (click)="goBack()">Back</button>
    <button (click)="saveCpu()">Save</button>
  </div>
</div>
